**/log/*
**/vis/*
**/vises/*
**/wandb/*
**/temp/*

data/deep_geometric_prior_data/**
data/NSP_dataset/**
data/ShapeNetNSP/**

*.zip
*.tar.gz
*.npy
*.pyc
*.pth
*.ply
*.obj
*.mp4
*.gif
*.cpp
*.so
*.o
*.html
*.pkl
*.lprof